@{
    ViewBag.Title = "商户运费设置";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(function () {
        GetTree();
        GetGrid();

        //绑定键盘按下事件
        $(document).keypress(function (e) {
            //回车键事件
            if (e.which == 13) {
                $("#orderNo").focus();
                $("#orderNo").select();
                $("#btnSearch").click();
            }
        });
    })

    var MerchantId = "", WarehouseId = "", WarehouseName = "";
    //加载左边树
    function GetTree() {
        var itemtree = {
            onnodeclick: function (item) {
                if (item.Type === "Merchant") {
                    MerchantId = item.NodeId;
                    WarehouseId = "";     //商户ID
                } else if (item.Type === "Warehouse") {
                    MerchantId = item.parentnodes;
                    WarehouseId = item.id;         //分类ID
                    WarehouseName = item.text;     //分类名称
                }
                $("#CenterTitle").html(" - " + item.text + "(" + item.value + ")");
                $("#gridTable").jqGrid('setGridParam', { url: "@Url.Content("~/MerchantModule/MerchantShipTemplate/GridListJson")?MerchantId=" + MerchantId + "&WarehouseId=" + WarehouseId }).trigger('reloadGrid');
            },
            url: "@Url.Content("~/MerchantModule/Merchant/GetMerchantWarehouseTree")"
        };
        $("#ItemsTree").treeview(itemtree);
    }

    //加载表格
    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/MerchantModule/MerchantShipTemplate/GridListJson")",
            datatype: "json",
            height: $(window).height() - 105,
            autowidth: true,
            colModel: [
                { label: '模板Id', name: 'TemplateId', index: 'TemplateId', hidden: true },
                { label: '所属商户', name: 'MerchantId', index: 'MerchantId', hidden: true },
                { label: '发货仓库', name: 'WarehouseId', index: 'WarehouseId', hidden: true },
                { label: '物流方式', name: 'ShipTypeId', index: 'ShipTypeId', hidden: true },
                { label: '模板名称', name: 'TemplateName', index: 'TemplateName', width: 160 },
                { label: '所属商户', name: 'MerchantName', index: 'MerchantName', width: 140 },
                { label: '发货仓库', name: 'WarehouseName', index: 'WarehouseName', width: 140 },
                { label: '物流方式', name: 'ShipTypeName', index: 'ShipTypeName', width: 100 },
                { label: '起步重量(Kg)', name: 'Weight', index: 'Weight', width: 90, align: 'center' },
                { label: '加价重量(Kg)', name: 'AddWeight', index: 'AddWeight', width: 90, align: 'center' },
                { label: '默认起步价(元)', name: 'Price', index: 'Price', width: 90, align: 'center' },
                { label: '默认加价(元)', name: 'AddPrice', index: 'AddPrice', width: 90, align: 'center' },
                {
                    label: '有效', name: 'Enabled', index: 'Enabled', width: 45, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue === '1') return "<img src='../../Content/Images/checkokmark.gif'/>";
                        if (cellvalue === '0') return "<img src='../../Content/Images/checknomark.gif'/>";
                        return cellvalue;
                    }
                },
                {
                    label: '默认模板', name: 'IsDefault', index: 'IsDefault', width: 70, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue === '1') return "<img src='../../Content/Images/checkokmark.gif'/>";
                        if (cellvalue === '0') return "<img src='../../Content/Images/checknomark.gif'/>";
                        return cellvalue;
                    }
                }
            ],
            viewrecords: true,
            pager: false,
            rowNum: 1000,
            sortname: 'SortCode',
            sortorder: 'asc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            subGrid: true,
            subGridRowExpanded: function (subgridId, rowId) {
                var templateId = GetJqGridValue("#gridTable", rowId, "TemplateId");
                var subTableId = subgridId + "_t";
                $("#" + subgridId).html("<table id='" + subTableId + "'></table>");
                $("#" + subTableId).jqGrid({
                    url: "@Url.Content("~/MerchantModule/MerchantShipTemplate/GetTemplateItemList")?TemplateId=" + templateId,
                    datatype: "json",
                    colModel: [
                        { label: '主键', name: 'ItemId', hidden: true },
                        { label: '省', name: "ProvinceName", width: 100, sortable: false },
                        { label: '市', name: "CityName", width: 100, sortable: false },
                        { label: '区', name: "CountyName", width: 100, sortable: false },
                        { label: '起步价', name: "Price", width: 100, sortable: false, align: 'center' },
                        { label: '加价', name: "AddPrice", width: 100, sortable: false, align: 'center' },
                        {
                            label: '操作', name: 'Edit', index: 'ItemId', width: 70, align: 'center',
                            formatter: function (cellvalue, options, rowObject) {
                                return "<a style=\"text-decoration:underline;cursor: pointer;\" onclick=\"btn_editItem('" + rowObject.ItemId + "')\">[编辑]</a>&nbsp;&nbsp;<a style=\"text-decoration:underline;cursor: pointer;\" onclick=\"btn_delItem('" + rowObject.ItemId + "')\">[删除]</a>";
                            }
                        }
                    ],
                    rowNum: "all",
                    ondblClickRow: function (id) {
                        var rowData = $("#" + subTableId).getRowData(id);  //根据ID拿到一行的数据
                        var keyValue = rowData.ItemId;
                        if (IsChecked(keyValue)) {
                            var url = "/MerchantModule/MerchantShipTemplate/ItemForm?KeyValue=" + keyValue;
                            openDialog(url, "Form", "编辑商户运费模板", 650, 260, function (iframe) {
                                top.frames[iframe].AcceptClick();
                            });
                        }
                    },

                });
            }
        });
        columnModelData("#gridTable");
    }

    //新增
    function btn_add() {
        if (!!MerchantId && !!WarehouseId) {
            var url = "/MerchantModule/MerchantShipTemplate/Form?MerchantId=" + MerchantId + "&WarehouseId=" + WarehouseId
            openDialog(url, "Form", "新增商户运费", 650, 260, function (iframe) {
                top.frames[iframe].AcceptClick()
            });
        } else {
            alertDialog("请选择左边商户和仓库", 0);
        }
    }

    //编辑
    function btn_edit() {
        var keyValue = GetJqGridRowValue("#gridTable", "TemplateId");
        if (IsChecked(keyValue)) {
            var url = "/MerchantModule/MerchantShipTemplate/Form?KeyValue=" + keyValue;
            openDialog(url, "Form", "编辑商户运费模板", 650, 260, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }

    //编辑
    function btn_editItem(itemId) {
        if (IsChecked(itemId)) {
            var url = "/MerchantModule/MerchantShipTemplate/ItemForm?KeyValue=" + itemId;
            openDialog(url, "Form", "编辑商户运费模板", 650, 260, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }

    //删除
    function btn_delItem(itemId) {
        if (IsSelectData(itemId)) {
            var delparm = 'KeyValue=' + itemId;
            delConfig('/MerchantModule/MerchantShipTemplateItem/Delete', delparm, KeyValue.split(",").length);
        }
    }

    //添加区域价格
    function btn_addItem() {
        var KeyValue = GetJqGridRowValue("#gridTable", "TemplateId");
        if (IsChecked(KeyValue)) {
            var url = "/MerchantModule/MerchantShipTemplate/ItemForm?TemplateId=" + KeyValue;
            openDialog(url, "Form", "添加运费模板区域价格", 650, 260, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }

    //删除
    function btn_delete() {
        var keyValue = GetJqGridRowValue("#gridTable", "TemplateId");
        if (IsSelectData(keyValue)) {
            var delparm = 'KeyValue=' + keyValue;
            delConfig('/MerchantModule/MerchantShipTemplate/Delete', delparm, keyValue.split(",").length);
        }
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
<div id="layout" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                商户仓库
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree"></div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <div class="btnbartitle">
            <div>
                运费模板列表 <span id="CenterTitle"></span>
            </div>
        </div>
        <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>
        <table id="gridTable"></table>
    </div>
</div>
<style>
    .ui-widget-content {
        border-left: none;
    }
</style>
